*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target/
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
nohup.out
HELP.md
.pytest_cache/
.ipynb_checkpoints
Archive.zip
*.zip
*.dill
*.json
data/
*.xml
notebooks/clustering/*/
conf/application.run.xml
*.csv
*.gguf
*.model
*.safetensors
*.bin
sample_bert_pickle
*.pkl
*.gz
*.tar
notebooks/llms/RAG/mymodel.tar.gz
*.pkg
htmlcov/
*.xml
*.pdf
.gitattributes
README.md
*.mp3
